﻿@model InsuranceDB.Policy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Policy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coverage.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coverage.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyState.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyState.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
