﻿@model IEnumerable<InsuranceDB.Policy>

@{
    ViewBag.Title = "Index";
}

<h2>Policies</h2>

<div class="row">
    <div class="coll-md-4">
        @Html.ActionLink("Create Policy", "Create")
    </div>
    <div class="coll-md-8"></div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPolicy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coverage.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyState.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskType.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPolicy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coverage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyState.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskType.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
